<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert User</title>
</head>
<body>
    <h1>사용자 추가</h1>
    <hr>
    <form method="post">
        <fieldset>
            <legend>Insert User</legend>
            <table>
                <tr>
                    <td><label>ID</label></td>
                    <td><input type="text" name="id"/></td>
                </tr>
                <tr>
                    <td><label>password</label></td>
                    <td><input type="password" name="password"/></td>
                </tr>
                <tr>
                    <td><label>이름</label></td>
                    <td><input type="text" name="name"/></td>
                </tr>
                <tr>
                    <td><label>전화번호</label></td>
                    <td><input type="text" name="tel"/></td>
                </tr>
                <tr>
                    <td><label>이메일</label></td>
                    <td><input type="text" name="email"/></td>
                </tr>
            </table>
            <br/>
            <input type="submit"/>
        </fieldset>
    </form> 
</body>
</html>