<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert</title>
</head>
<body>
    <h1>로그인</h1>
    <hr>
    <a href="/insert">
        <button type="button">회원가입</button>
    </a>
    <form method="post">
        <fieldset>
            <legend>Login User</legend>
            <table>
                <tr>
                    <td><label>ID</label></td>
                    <td><input type="text" name="id"/></td>
                </tr>
                <tr>
                    <td><label>password</label></td>
                    <td><input type="password" name="password"/></td>
                </tr>
            </table>
            <input type="submit"/>
        </fieldset>
    </form> 
</body>
</html>