<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert</title>
</head>
<body>
    <h1>할 일 수정</h1>
    <hr>
    <form medthod="post">
        <fieldset>
            <legend>Edit Data</legend>
            <table>
                <tr>
                    <td><label>ID</label></td>
                    <td><input type="text" name="id" value="<%= data.id %>" disabled/></td>
                </tr>
                <tr>
                    <td><label>할 일</label></td>
                    <td><input type="text" name="contents" value="<%= data.contents %> " disabled/></td>
                </tr>
                <tr>
                    <td><label>완료 여부</label></td>
                    <td><input type="text" name="yesno"  value="<%= data.yesno %>"/></td>
                </tr>
            </table>
            <input type="submit"/>
        </fieldset>
    </form> 
</body>
</html>