<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= grade %> <%= name %></h1>
        <table>
            <th>index</th>
            <th>제목</th>
            <th>내용</th>
            <th>관리자</th>
            <th>고정</th>
            <th>공개</th>
            <% for(let i=0; i<count; i++) { %>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                </tr>
            <% } %>
        </table>
</body>
</html>