<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert</title>
</head>
<body>
    <h1>할 일 추가 입력</h1>
    <hr>
    <form method="post">
        <fieldset>
            <legend>Insert Data</legend>
            <table>
                <tr>
                    <td><label>할 일</label></td>
                    <td><input type="text" name="contents"/></td>
                </tr>
                <tr>
                    <td><label>완료 여부</label></td>
                    <td><input type="text" name="yesno"/></td>
                </tr>
            </table>
            <input type="submit"/>
        </fieldset>
    </form> 
</body>
</html>